.search-bar {
	margin: 20px;
	text-align: center;
}

.search-bar input {
	padding: 0 10px;
	width: 75%;
}

.video-item {
	max-width: 64px;
}

.media-object {
	margin-right: 15px;
}

.video-detail {
	margin-bottom: 10px;
}

.video-detail .details {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.list-group {
	padding-left: 15px !important;
}

.list-group-item {
	cursor: pointer;
}

.list-group-item:hover {
	background-color: #eee;
}
